# Basic
*.pyc
__pycache__/
.env
*.swp
.DS_Store
venvs/
tmp/

# Ignore everything in dataset/ except CPDDB_data.zip
dataset/*
!dataset/CPDDB_data.zip

# Ignore .out and .log files anywhere
*.out
*.log

# Others
src/gemini/
diagrams/